@model GroceryStore.ViewModels.ItemCreateViewModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create Item</h1>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Name</label>
        <select class="form-control" asp-for="Id" asp-items="@(new SelectList(Model.itemStoreKeepersList,"Id","Name"))">
        </select>
        
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
    </div>
    <button type="submit" class="btn btn-primary">
        Save
    </button>
</form>





@*<div class="form-group">
        <label asp-for="ItemStoreKeeper.Category"></label>
        <select class="form-control" asp-for="ItemStoreKeeper.CategoryId" asp-items="@(new SelectList(ViewBag.CategoryList,"Id","Name"))">
        </select>
    </div>*@

@*<div class="form-group">
        <label asp-for="CategoryId">Category Id</label>
        <input class="form-control" placeholder="1-Washing 2-Eating 3-Kids 4-Tanbako" asp-for="CategoryId" />
    </div>*@
