
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Page</h1>

<div class="btn btn-group mt-4 btn-lg">
    <a class="btn btn-outline-primary mr-1" asp-area="" asp-controller="ItemStoreKeeper" asp-action="Index">Item Store Keeper Management</a>
    <a class="btn btn-outline-primary mr-1" asp-area="" asp-controller="Category" asp-action="Index">Category Management</a>
    <a class="btn btn-outline-primary" asp-controller="Item" asp-action="Index">Item Management</a>
    <a class="btn btn-outline-primary" asp-controller="User" asp-action="Index">User Management</a>
</div>
